# I plan on implementing variables for time, frequency, and cooldown

# Existing Twitter credentials
# Replace with your Twitter username
TWITTER_USERNAME=''
# Replace with your Twitter password
TWITTER_PASSWORD=''
# Replace with your Twitter email
TWITTER_EMAIL=''

# Add OpenAI credentials
# Replace with your OpenAI API key from https://platform.openai.com/api-keys
OPENAI_API_KEY=''
# This is the assistant that makes tweets 
OPENAI_ASSISTANT_ID=''
# This is the assistant that replies to tweets
OPENAI_REPLY_ASSISTANT_ID=''